<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WiFi Setup - netPanel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container pt-4">
      <div class="row m-3 alert alert-info justify-content-center">
        <h4 class="alert-heading">Configure WiFi</h4>
      </div>
      <form action="/set_wifi" method="post">
        <div class="form-group">
          <label for="ssid">SSID</label>
          <select class="form-control" name="ssid" id="ssid" required>
            {% for ap in ap_list %}
              <option>{{ ap }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" required minlength="8">
        </div>
        <div class="m-3 p-3 text-center">
          <a class="btn btn-secondary" href="/" role="button">Cancel</a>
          <button type="submit" class="btn btn-primary" id="btn_submit_wifi">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
